include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Painel Administrativo")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Ge' Adore
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body.home           
    
        .logo
                
        .slides
             ul.slides-container
                 +slideritem("background-image: url('./assets/images/slider/01.jpg')")
                 +slideritem("background-image: url('./assets/images/slider/02.jpg')")
                 
        header
            nav
                .menu-logo
                .menu-toggle
                    i.fa.fa-bars
                ul
                    li.active: a(href="/") Home
                    li: a(href="/empresa.html") Empresa
                    li: a(href="#") Masculino
                    li: a(href="#") Feminino
                    li: a(href="#") Cosmédicos
                    li: a(href="#") Contato
                    
        section.about
            .container
                h3.title Sobre Nós
                img(src="./assets/images/content/about-home.jpg", alt="")
                p.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem enim assumenda ex eligendi vitae, maxime id fuga blanditiis. Ipsam eligendi expedita cumque commodi, voluptatem natus eveniet quas porro facere qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, esse temporibus dicta vel dignissimos culpa ad mollitia eligendi illum doloremque explicabo officiis laboriosam, porro dolores quidem id cumque. Ducimus, ab!
                
                a.read-more Leia Mais
                
        section.lines
            .container
                .product-line
                    figure
                        img(src="./assets/images/content/product-line-male.jpg", alt="Linha Masculina")
                    h3 Masculino
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas explicabo molestias maiores est tempore autem id beatae iste.
                    a(href="#") Entre
                    
                .product-line
                    figure
                        img(src="./assets/images/content/product-line-female.jpg", alt="Linha Feminina")
                    h3 Feminino
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas explicabo molestias maiores est tempore autem id beatae iste.
                    a(href="#") Entre
                    
                .product-line
                    figure
                        img(src="./assets/images/content/product-line-cosmetics.jpg", alt="Linha de Cosméticos")
                    h3 Cosméticos
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas explicabo molestias maiores est tempore autem id beatae iste.
                    a(href="#") Entre
                    
            .container
                a.more Todos Produtos
        
        section.local
            .container
                h3.title Localização
                
                #googleMap.map
                
        +footer
        
                        
        .scroll-top
            a(href="#")
                i.fa.fa-chevron-up
                    
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/jquery.animate-enhanced.min.js")
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js")
        script(type="text/javascript" src="assets/scripts/scrollIt.min.js")        
        script(type="text/javascript" src="assets/scripts/jquery.scrollSpeed.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/functions.js")