include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Painel Administrativo")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Ge' Adore
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body.product-page
    
        .productPopup-overlay
        .productPopup
            .contents
                a.toggle X
                img(src="", alt="")
    
        .logo
                
        .slides
             ul.slides-container
                 +slideritem("background-image: url('./assets/images/slider/01.jpg')")
                 +slideritem("background-image: url('./assets/images/slider/02.jpg')")
                 
        header
            nav
                .menu-logo
                .menu-toggle
                    i.fa.fa-bars
                ul
                    li: a(href="index.html") Home
                    li: a(href="empresa.html") Empresa
                    li.active: a(href="masculino.html") Masculino
                    li: a(href="feminino.html") Feminino
                    li: a(href="cosmedicos.html") Cosméticos
                    li: a(href="contato.html") Contato
                
        section.masculino
            .container
            
                figure                        
                    img(src="./assets/images/content/male.png", alt="")
                    
                .products
                
                    +product('212-homme.jpg')
                    +product('212-sexy-homme.jpg')
                    +product('212-vip-homme.jpg')
                    
                    +product('animal-homme.jpg')
                    +product('az-homme.jpg')
                    +product('bul-black-homme.jpg')
                    
                    +product('cash-million-homme.jpg')
                    +product('celsius-men.jpg')
                    +product('ckb.jpg')
                    
                    +product('cko.jpg')
                    +product('code-men.jpg')
                    +product('couros-homme.jpg')
                    
                    +product('dg-homme.jpg')
                    +product('ferri-black-homme.jpg')
                    +product('fuel-homme.jpg')
                    
                    +product('furious-men.jpg')
                    +product('hg-boss-Homme.jpg')
                    +product('infinité-homme.jpg')
                   
                    +product('invicto-homme.jpg')
                    +product('jop-homme.jpg')
                    +product('lure-sport-men.jpg')

                    +product('male-homme.jpg')
                    +product('onixxs-men.jpg')
                    +product('pl-sport-Homme.jpg')
                                    
                a.load Carregar Mais
                
        +footer
        
                        
        .scroll-top
            a(href="#")
                i.fa.fa-chevron-up
                    
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/jquery.animate-enhanced.min.js")
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js")
        script(type="text/javascript" src="assets/scripts/scrollIt.min.js")        
        script(type="text/javascript" src="assets/scripts/jquery.scrollSpeed.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/functions.min.js")
