mixin slideritem(image)
    li(style=image)
         .container
             .row

mixin footer()
    footer
        .container
            .copyright
                span Ge´Adore Perfumes
                span &copy; Todos os direitos reservados

                a(href="http://agenciadzoe.com.br"): img(src="http://www.agenciadzoe.com.br/images/logo-alt.png" alt="Agência dZoë" height="30")

            .contact
                p Rua Imperatriz n. 452 <br> Vila São Francisco <br> Açailândia- MA

                span (99) 3538-1187
                span (99) 98809-7071

            .social
                .icon
                    a(href="#"): i.fa.fa-facebook
                .icon
                    a(href="#"): i.fa.fa-twitter